            * {
                margin: 0 auto;
            }
            
            a {
                text-decoration: none;
            }
            
            #header {
                width: 100%;
                height: 68px;
                background-color: #584cc0;
            }
            
            #header_nav {
                width: 1023px;
                height: 68px;
                margin: 0 auto;
            }
            
            img {
                float: left;
            }
            
            ul {
                display: inline;
            }
            
            #ul li {
                float: left;
                margin-left: 70px;
                list-style-type: none;
                line-height: 68px;
            }
            
            #ul li a {
                font-size: 22px;
                color: #ffffff;
            }
            /*--------------------------------------------------- */
            
            input[type=text] {
                background-color: #c7dec6;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding: 2px;
                height: 36px;
                width: 150px;
                background-color: #9a9a9a26;
                float: left;
                margin-top: 10px;
                margin-left: 20px;
            }
            
            #button {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding: 10px;
                height: 15px;
                width: 10px;
                background-image: url(../images/dscds2.png);
                font-size: large;
                color: antiquewhite;
                margin-left: 5px;
            }
            /*---------------------------------*/
            
            #main {
                width: 1033px;
                height: 2000px;
                margin: 0 auto;
            }
            
            #main_1 {
                position: absolute;
                margin-top: 135px;
                width: 1033px;
                height: 500px;
            }
            
            #main_1_1 {
                height: 81px;
                width: 100%;
            }
            
            #main_1_1_nav {
                width: 314px;
                height: 81px;
                margin: 0 auto;
            }
            
            #ul1 {
                list-style-type: none;
            }
            
            #ul1 li {
                float: left;
                display: inline;
                line-height: 81px;
                color: black;
                text-align: center;
                margin-left: 20px;
            }
            
            #ul1 li a {
                color: black;
                font-size: 16px;
            }
            
            p {
                font-size: 18px;
                color: #2e24b2;
                font-weight: bold;
            }
            
            #main_1_2_2,
            #main_1_2_3,
            #main_1_2_4 {
                float: left;
                margin-top: 20px;
            }
            
            #main_1_2_3,
            #main_1_2_4 {
                float: left;
                margin-left: 61px;
            }
            
            #main_1_2_1 {
                width: 191px;
                height: 217px;
                float: left;
            }
            
            #main_1_2_2 {
                width: 194px;
                height: 217px;
                float: left;
            }
            
            #main_1_2_3 {
                width: 191px;
                height: 217px;
            }
            
            #main_1_2_4 {
                width: 191px;
                height: 217px;
            }
            
            #ul2 {
                list-style-type: none;
            }
            
            #ul2 li {
                margin-top: 12px;
                height: 25px;
            }
            
            #ul2 li a {
                font-size: 16px;
                text-decoration: none;
                color: black;
            }
            /*--------------------------------------------------*/
            
            #main_2 {
                position: relative;
                width: 1033px;
                height: 500px;
                top: 722px;
            }
            
            #main_3 {
                width: 1033px;
                height: 500px;
                position: relative;
                top: 844px;
            }
            
            #ul2 li:hover {
                background-color: #2e24b2;
            }
            
            #ul1 li:hover {
                text-decoration: underline;
            }
            
            #ul li:hover {
                background-color: royalblue;
            }